body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("./img/Background.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#signin {
	float: right;
}

#header {
	background-image: url('./img/HeaderBack.jpg');
}

#listHeader {
	background-image: url('./img/headerpic.jpg');
}

#header-sub {
	background-image: url('./img/Plexus.jpg');
}

#header-text {
	color: white;
}
